# PeerLoanKart is an NBFC (Non-banking Financial Company) that facilitates peer- to-peer loan. It connects people who need money (borrowers) with people who have money (investors). As an investor, you would want to invest in people who have a high probability of paying you back. You as an ML expert create a model that will help predict whether a borrower will pay the loan or not.
 

Objective: Increase profits up to 20% as NPA will be reduced due to loan disbursal for only creditworthy borrowers.

In [1]:
# imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('Lesson 6-Supervised Learning-Classification/loan_borowwer_data.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [3]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [4]:
# categorical data conversion
# purpose
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
label = lb.fit_transform(df['purpose'])

In [5]:
df['purpose'] = label

In [6]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [7]:
target = df['not.fully.paid']

In [8]:
df.drop('not.fully.paid', axis = 1, inplace = True)
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0
4,1,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0

In [9]:
# split our data 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, target, test_size = 0.2, random_state=1)

In [10]:
# 1. DECISION TREE
# initialize model
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

# train our classifier
classifier.fit(x_train, y_train)

DecisionTreeClassifier()

In [11]:
# predictions
y_pred = classifier.predict(x_test)

In [27]:
# accuracy check
from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_test)

0.7468684759916493

In [29]:
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix(y_test, y_pred)

array([[1343,  250],
       [ 235,   88]])

In [30]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.84      0.85      1593
           1       0.26      0.27      0.27       323

    accuracy                           0.75      1916
   macro avg       0.56      0.56      0.56      1916
weighted avg       0.75      0.75      0.75      1916

In [13]:
# 2. RANDOM TREE
# init model
from sklearn.ensemble import RandomForestClassifier
classifier2 = RandomForestClassifier()

# train our classifier
classifier2.fit(x_train, y_train)

RandomForestClassifier()

In [14]:
# predictions
y_pred2 = classifier2.predict(x_test)

In [15]:
# accuracy check
accuracy_score(y_pred2, y_test)

0.8308977035490606

In [32]:
confusion_matrix(y_test, y_pred2)

array([[1586,    7],
       [ 317,    6]])

In [34]:
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91      1593
           1       0.46      0.02      0.04       323

    accuracy                           0.83      1916
   macro avg       0.65      0.51      0.47      1916
weighted avg       0.77      0.83      0.76      1916